
.card-title{
    font-size: 40px;
}

.card{
    width: 100%;
}
.btn{
    border-radius: 20px;
    padding: 5px;
}

.cart1{
    font-size: 30px;
    color:white;
    outline: none;
}

.number{
    font-size: 20px;
    text-align: center;
    margin-left: 8px;
    top: 5px;
}

.rating{
    display: flex;
    align-items: center;
}
.review{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.rupee{
    display: flex;
    align-items: center;
    
}

.rupee-first{
    margin-top: 10px;
    margin-left: 20px;
}

.rupee-second{
    margin-top: 10px;
    margin-left: 40px;
    
}

.text-card{
    text-align: center;
}


.container {
   width:100%;
    height:100%;
}
.row{
   margin-top: 30px; 
   background-color: rgb(66, 68, 68);
   color: white;
   padding: 30px;
   border-radius: 10px;
}

.tag{
    height: 100%;
    width: 10%;
    background-color:blue;
    border-radius: 5px;
}



.tag-name{
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
}

.card1{
    border-radius: 10px;
    width: 90%;
}

.card2{
    width: 95%;
}
.card_title{
    background-color:rgb(53, 126, 236);
    width: 25%;
    padding-right:5px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    align-items: center;
}

.card-box{
    display: flex;
}
.card-text1{
    font-size: 20px;
    text-transform: capitalize;
}

.card-text2{
    color: gray;
}

.card-text3{
 font-size: 20px;
 display: flex;
}

.offer1{
  color: rgb(16, 172, 16);
}

.offer2{
  color: rgba(248, 248, 7, 0.486); 
  margin-left:20px;
}

.offer3{
    color:rgb(18, 177, 18);
}

.card2{
    border: 2px solid white;
    border-radius: 10px;
}

.btn1{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(49, 47, 47);
    border: none;
}

.fas{
    color: rgb(212, 199, 199);
}

.check{
    display: flex;
    float: right;
    margin-top: 100px;
    font-size: 20px;
    margin-left: 20px;
}

.cardbox1{
    display: flex;
    justify-content:space-between;
    
}

.cardbox2{
    display: flex;
    justify-content: space-between;
}
.card-rupee1{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.card-rupee2{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: gray;
    bottom: 30px;
}

.rupeesign1{
    color: gray;
}

.rupee1{
    color: gray;
}
.rupee2{
    color: gray;
}

.rupee3{
    color: gray;
}

.rupeebox1{
    display: flex;
    justify-content: space-between;
}

.card-text5{
    font-size: 30px;
}

.rupee5{
    color: rgb(253, 246, 246);

}

.rupeebox2{
    display: flex;
    justify-content: space-between;
}

.card-text6{
    font-size: 30px;
}

.rupee6{
    color:gray;
}

.cart2{
    font-size: 20px;
}